body{
	background-color: white;
	margin: 0;
	color: rgba(0,0,0,1);
	padding-top: 100px;
}
.upload-form{
	position: center;
	text-align: center;
	font-family: Raleway;
}
.upload-form>input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.upload-form>input[type=number]::-webkit-inner-spin-button, 
.upload-form>input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.upload-tag{
	width: 100px;
	height: 40px;
	display: inline-block;
	margin: 2px 0;
	line-height: 40px;
	background-color: rgba(0,0,0,1);
	font-size: 20px;
	color: rgba(255,255,255,1);
	vertical-align: middle;
}
.upload-form>input[type="text"],.upload-form>input[type="number"]{
	width: 300px;
	height: 40px;
	margin: 2px 0 2px -4px;
	box-sizing: border-box;
	border: solid 2px;
	padding: 0;
	vertical-align: middle;
}

.upload-form>input[type="file"]{

}

.upload-file-wrapper {
	margin: 2px auto;
} 
.upload-file-trigger{
  height: 40px;
  width: 400px;
  display: inline-block;
  padding: 0;
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  font-size: 20px;
  line-height: 40px;
  transition: all .4s;
  cursor: pointer;
}
.upload-file {
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.upload-file:hover + .upload-file-trigger,
.upload-file:focus + .upload-file-trigger,
.upload-file-trigger:hover,
.upload-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}
